.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 539px;
    max-height: 742px;
    padding: 45px 32px;
    gap: 35px;
    flex-shrink: 0;

    border-radius: 2px;
    background: #FFF;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);

    &__logotype {
        display: flex;
        width: 70%;
        max-width: 309px;
        height: 17%;
        padding: 6.409px 0.998px 0px 0px;
        justify-content: center;
        align-items: flex-end;
        gap: 2.273px;
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 368px;
        gap: 24px;
    }

}

.button {
    display: flex;
    height: 40px;
    width: 100%;
    padding: 6.4px 15px;
    margin: 5px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    border-radius: 2px;
    border: 1px solid var(--primary_light-6, #2F54EB);
    background: var(--primary_light-6, #2F54EB);

    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
}

.custom_help_style .ant-form-item-explain,
.custom_help_style .ant-form-item-explain-error {
    font-size: 12px;
}

@media only screen and (max-width: 834px) and (min-width: 361px) {
    .container {


        .auth {
            display: flex;
            width: 90%;
            max-width: 539px;
            height: 742px;
            padding: 64px 32px;
            flex-direction: column;
            align-items: center;
            gap: 48px;
            flex-shrink: 0;
            border-radius: 2px;
            background: var(--Neutral-gray-1, #FFF);
            box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);

            &__form {
                display: flex;
                width: 368px;
                flex-direction: column;
                align-items: center;
                gap: 24px;
            }
        }
    }
}

@media only screen and (max-width: 360px) {
    .auth {
        display: flex;
        width: 90%;
        max-width: 328px;
        height: 612px;
        padding: 32px 16px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        flex-shrink: 0;
        border-radius: 2px;
        background: var(--Neutral-gray-1, #FFF);
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);

        &__form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            align-self: stretch;
        }
    }

}