.container {
    display: flex;
    width: 100%;

    &__column {
        max-width: 1055px;
    }

    .container__settings {
        display: flex;
        justify-content: flex-end;
        width: 400px;
    }

    &__controls {
        display: flex;
        position: relative;
        top: 20%;
        right: 2%;
        height: 32px;
        padding: 5px 10px;
        border-radius: 4px;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        &:hover {
            background-color: #e9e9e9;
            box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
            transition: 0.3s;
        }
    }
}

h1 {
    color: #262626;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    padding-top: 13px;
}

@media (max-width: 1050px) {
    .container {
        display: flex;
        width: calc(100% + 20px);

        &__column {
            max-width: 100%;
        }
    }

    .container__settings {
        display: flex;
        justify-content: flex-end;
        max-width: 400px;
    }

    .container__controls {
        :first-child {
            display: none;
        }
    }

    h1 {
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
    }
}

@media (max-width: 360px) {
    .container {
        display: flex;
        padding: 16px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;

        &__column {
            max-width: 100%;
        }
    }

    h1 {
        color: var(--Character_light-Title-85, #262626);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
    }

    .container__controls {
        display: flex;
        height: 32px;
        align-items: center;
        gap: 8px;

        span {
            display: none;
        }
    }
}